body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    box-shadow: 10px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}



.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    padding: 20px;
}

.card form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.card form label {
    display: block;
    margin: 10px 0 5px;




    font-weight: bold;
    font-size: 1em;
}

.card input[t30vwype="text"],
.card input[type="radio"],
.card button {
    margin: 10px 0;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease;
}

.card input[type="text"]:focus {
    border-color: #6a11cb;
    box-shadow: 0 0 8px rgba(106, 17, 203, 0.3);
}

.card button {
    background-color: #6a11cb;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.card button:hover {
    background-color: #2575fc;
    box-shadow: 0 5px 10px rgba(37, 117, 252, 0.3);
}

.card button:active {
    transform: scale(0.98);
}

footer {
    background-color: #000016;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    font-size: 1.3vw;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.social-icons a {
    color: white;
    font-size: 1.3em;
    margin-left: 15px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #3a6cf4;
}